.card{
      width: 26rem;
      border: solid #4a549c;
      padding: 1em;
      margin: 7px;
}
.card-img-top{
      width: 2em;
      height: 2em;
      border-radius: 100%;
}

.dropdown-menu{
    height: 20em;
    overflow-y: auto;
}

.form-img{
    width: 17em;
    height: 16em;
    border-radius: 100%;
}

.navbar{
  padding: 2em;
  background: #2d4b95;
}

