.card{
      width: 26rem;
      border: solid #4a549c;
      padding: 1em;
      margin: 7px;
}
.card-img-top{
      width: 2em;
      height: 2em;
      border-radius: 100%;
}

.dropdown-menu{
    height: 20em;
    overflow-y: auto;
}

.form-img{
    width: 17em;
    height: 16em;
    border-radius: 100%;
}

.navbar{
  background: #2d4b95;
}

.welcome-block{
  text-align: center;
  top: 10em;
  position: relative;
  padding: 1em;
}

.welcome-message{
  font-size: 30px;
  padding: 1em;
  border: solid;
  border-color: #d7daf0;
  text-decoration: none;
}

